.note-cards {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 17px;
    align-items: center;
    border: none;
    background-color: #0071e3;
    font-size: 20px;
    color: white;
    font-weight: 900;
}

.modal {
    max-width: 600px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}