.notecard {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.notecard h3 {
    margin:0px;
}

.notecard-bottom {
    display: flex;
    justify-content: space-between;
}

.notecard-top .icons:hover {
    color: #0071e3;
}

.pin-blue {
    color: #0071e3;
    font-size: 25px;
}

.notecard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notecard .icons {
    color: gray;
    font-size: 25px;
}

.notecard p {
    margin: 0px;
}

.date {
    color: gray;
}

.tags {
    color: gray;
}

.delete-edit {
    display: flex;
    gap: 10px;
}

.delete-edit .edit:hover {
    color: rgb(104, 202, 104);
}

.delete-edit .delete:hover {
    color: rgb(215, 96, 96);
}